<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="#LANGUAGE#">
	<head>
		#BASE#
		<title>#TITLE#</title>
		#META#
		#GENERATOR#
	</head>
	<body>
		<h1>#TITLE#</h1>
	</body>
</html>